@import url(reset.css);

@import url(root.css);
@import url(header.css);
@import url(footer.css);

@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
* {
  font-family: "Lato", sans-serif;
}
body {
  overflow-x: hidden;
}
.contents {
  width: 100vw;
  height: 1200px;
  box-sizing: border-box;
}

.contents .back_div {
  background-color: rgba(0, 0, 0, 0.09);
  padding-bottom: 70px;
}

.contents .video_wrap {
  position: relative;
  width: 100vw;
  height: 80vh;
  margin-bottom: 100px;
  z-index: -2;
}

.contents .video_wrap .video {
  position: relative;
  width: 100%;
  height: 100%;
}

.contents .video_wrap .video_cover {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  background-color: rgba(54, 54, 54, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.contents .video_wrap .video_cover .cover_text {
  display: block;
  width: 809px;
  height: 266px;
  background: url("https://www.koreaaero.com/KO/images/index/visual_title.png")
    0 0 no-repeat;
  background-size: contain;
}

.contents .video_wrap .video_cover .mouse_icon {
  position: absolute;
  bottom: 15px;
  left: 50%;
  width: 26px;
  height: 40px;
  margin-left: -13px;
  border: 2px solid #fff;
  border-radius: 100px;
}

.contents .video_wrap .video_cover .mouse_icon::before {
  content: "";
  display: block;
  position: absolute;
  top: 7px;
  left: 50%;
  width: 2px;
  height: 8px;
  margin-left: -1px;
  background: #fff;
  animation: scrollAni 2s infinite;
}
.contents .video_wrap .video_cover_txt {
  position: absolute;
  width: 100%;
  height: 110%;
  top: 0;
  z-index: -1;
}

.contents .video_wrap .video_cover_txt::before {
  content: "";
  display: block;
  position: absolute;
  bottom: 45px;
  left: 49.789%;
  width: 20px;
  height: 20px;
  margin-left: -5px;
  margin-bottom: 10px;
  border-bottom: 2px solid rgb(183, 183, 183);
  border-right: 2px solid rgb(183, 183, 183);
  animation: scrollArrow 2s infinite;
}

.contents .video_wrap .video_cover_txt::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 39px;
  left: 49.789%;
  width: 20px;
  height: 20px;
  margin-left: -5px;
  border-bottom: 2px solid rgb(183, 183, 183);
  border-right: 2px solid rgb(183, 183, 183);
  animation: scrollArrow 2s infinite;
}
@keyframes scrollAni {
  0% {
    transform: translate(0, 0);
  }
  80% {
    transform: translate(0, 10px);
  }
}
@keyframes scrollArrow {
  0% {
    transform: rotate(45deg) translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: rotate(45deg) translate(10px, 10px);
    opacity: 0;
  }
}

.contents .news_wrap .k-news {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
}
.contents .news_wrap .k-news .news_title {
  text-align: center;
  margin-bottom: 80px;
}

.contents .news_wrap .k-news .news_title h1 {
  font-size: 2.2rem;
  font-weight: 900;
  line-height: 2;
  color: var(--main-color);
}

.contents .news_wrap .k-news .news_title p {
  font-size: 1.05rem;
  font-weight: 500;
}
.contents .news_wrap .k-news .news_title p span {
  font-weight: 600;
}
.contents .news_wrap .k-news .news_list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  width: 80%;
  height: 450px;
}
.contents .news_wrap .k-news .news_list .news_item {
  position: relative;
  overflow: hidden;
}

.contents .news_wrap .k-news .news_list .news_item .item_cover {
  position: absolute;
  background: #000;
  width: 100%;
  height: 100%;
  opacity: 0.3;
  transition: 0.5s ease-in-out;
}

.contents .news_wrap .k-news .news_list .news_item:hover .item_cover {
  opacity: 0.6;
  z-index: 4;
}

.contents .news_wrap .k-news .news_list .news_item:nth-child(1),
.contents .news_wrap .k-news .news_list .news_item:nth-child(2) {
  grid-row: 1 / 3;
}

.contents .news_wrap .k-news .news_list .news_item .item_img {
  width: 100%;
  height: 100%;
  transition: all 1s;
}
.contents .news_wrap .k-news .news_list .news_item:hover .item_img {
  transform: scale(1.1);
}

.contents .news_wrap .k-news .news_list .news_item .item_text {
  z-index: 5;
}

.contents .news_wrap .k-news .news_list .news_item:nth-child(1) .item_text,
.contents .news_wrap .k-news .news_list .news_item:nth-child(2) .item_text {
  position: absolute;
  color: #fff;
  width: 310px;
  left: 57px;
  top: 320px;
}

.contents .news_wrap .k-news .news_list .news_item:nth-child(3) .item_text,
.contents .news_wrap .k-news .news_list .news_item:nth-child(4) .item_text {
  position: absolute;
  color: #fff;
  width: 310px;
  left: 57px;
  top: 86px;
  text-align: center;
}

.contents .news_wrap .k-news .news_list .news_item .item_text h1 {
  font-size: 1.4rem;
  font-weight: 700;
}
.contents .news_wrap .k-news .news_list .news_item:nth-child(1) .item_text h1,
.contents .news_wrap .k-news .news_list .news_item:nth-child(2) .item_text h1 {
  padding-bottom: 14px;
  border-bottom: 3px solid #fff;
}
.contents .news_wrap .k-news .news_list .news_item:nth-child(1) .item_text p,
.contents .news_wrap .k-news .news_list .news_item:nth-child(2) .item_text p {
  font-size: 14px;
  padding-top: 15px;
  font-weight: 600;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 2em;
  word-break: break-word;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.contents .news_wrap .news_room {
  text-align: center;
}
.contents .news_wrap .news_room .news_btn {
  text-align: center;
  display: inline-block;
  width: 360px;
  height: 55px;
  border: 2px solid var(--main-color);
  line-height: 3.4;
  color: var(--main-color);
  font-weight: 600;
  border-radius: 30px;
  font-size: 1.1rem;
}

.contents .news_wrap .news_room .news_btn:hover {
  background-color: var(--main-color);
  color: RGB(14, 61, 138);
}

.contents .news_wrap .sns_con {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 40px;
}
.contents .news_wrap .sns_con ul {
  width: 80%;
  display: flex;
}
.contents .news_wrap .sns_con ul li {
  width: 334px;
  height: 135px;
  box-sizing: border-box;
  color: #81828c;
  display: flex;
  align-items: center;
}
.contents .news_wrap .sns_con ul li:first-child {
  background: url("https://www.koreaaero.com/KO/images/index/bg_videoClip.jpg")
    0 0 no-repeat;
  background-size: cover;
  color: #fff;
}

.contents .news_wrap .sns_con ul li:nth-child(2) {
  background-color: var(--main-color);
}
.contents .news_wrap .sns_con ul li:nth-child(3) {
  background-color: #fac213;
}
.contents .news_wrap .sns_con ul li:nth-child(4) {
  background-color: #fef9a7;
}
.contents .news_wrap .sns_con ul li:not(:first-child) span {
  line-height: 1.5;
}
.contents .news_wrap .sns_con ul li span {
  margin-left: 25px;
}
.contents .news_wrap .sns_con ul li span p {
  font-size: 1.2rem;
}

.contents .news_wrap .sns_con ul li span p i {
  font-size: 2.5rem;
}

.contents .news_wrap .sns_con ul li span h2 {
  font-size: 1.7rem;
  font-weight: 600;
}
.contents .news_wrap .sns_btn {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.contents .news_wrap .sns_btn p {
  font-size: 2rem;
  font-weight: 600;
  margin-right: 5px;
  color: var(--main-color);
}

.contents .news_wrap .sns_btn a img {
  width: 45px;
  margin: 0 5px;
}
.contents .busi_wrap .busi_title {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 80px;
  line-height: 2;
}
.contents .busi_wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contents .busi_wrap .busi_title h1 {
  font-size: 2.4rem;
  font-weight: 900;
  color: var(--main-color);
}

.contents .busi_wrap .busi_title p {
  font-size: 1.1rem;
}
.contents .busi_wrap .busi_title p > span {
  font-weight: 600;
}
.contents .busi_wrap .busi_con {
  width: 80%;
  display: flex;
  justify-content: space-between;
  margin: 80px 0;
}
.contents .busi_wrap .busi_con .busi_item {
  width: 285px;
  text-align: center;
  color: #484848;
}
.contents .busi_wrap .busi_con .busi_item span {
  display: inline-block;
  width: 285px;
  height: 285px;
}
.contents .busi_wrap .busi_con .busi_item span img {
  width: 100%;
  height: 100%;
}

.contents .busi_wrap .busi_con .busi_item h3 {
  font-size: 1.8rem;
  line-height: 2;
  font-weight: 600;
}

.contents .busi_wrap .busi_con .busi_item h3::before {
  content: "";
  display: block;
  height: 30px;
  width: 3px;
  background-color: blueviolet;
  margin: 30px auto 10px;
}

.contents .busi_wrap .busi_con .busi_item p {
  font-size: 18px;
  word-break: keep-all;
}
.contents .busi_wrap .busi_con .busi_item:hover h3 {
  color: #0e3d8a;
}

.contents .trade_wrap {
  background-color: rgba(0, 0, 0, 0.09);
  height: 53px;
}
.contents .trade_wrap ul {
  /* width: 80%; */
  display: flex;
  justify-content: center;
  height: 100%;
}

.contents .trade_wrap ul li {
  width: 420px;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  line-height: 2;
}
.contents .trade_wrap ul li p {
  line-height: 3.1;
  font-size: 1.1rem;
}
.contents .trade_wrap ul li p > span {
  margin-left: 14px;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1;
}
.contents .trade_wrap ul li > span {
  /* margin: 16px 0 16px 20px; */
  width: 100px;
  height: 55%;
  margin: 12px 0 12px 16px;
  display: inline-block;
  background: #fff;
  text-align: center;
  line-height: 1.6;
  font-weight: 500;
  border-radius: 20px;
  font-size: 1.1rem;
}
.contents .trade_wrap ul li:first-child {
  font-size: 1.6rem;
  font-weight: 600;
  color: #606060;
}

.rise {
  color: #ff0303;
}
.fall {
  color: #325aa6;
}

.contents .defer_wrap {
  width: 100%;
}

.contents .defer_wrap li {
  position: relative;
  display: flex;
  justify-content: space-around;
}
.contents .defer_wrap li .mask_con {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  opacity: 0;
  transition: 0.5s linear;
}
.contents .defer_wrap li:hover .mask_con {
  opacity: 1;
}
.contents .defer_wrap li .defer_tit {
  color: #fff;
  text-shadow: 0, 0, 0.9;
  display: flex;
  width: 20%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
}
.contents .defer_wrap li .defer_tit h5 {
  font-size: 2.9rem;
  font-weight: 900;
  margin-bottom: 17px;
}
.contents .defer_wrap li .defer_tit p {
  display: inline-block;
  font-size: 1.1rem;
  text-align: left;
  line-height: 1.4;
  font-weight: 400;
  width: 100%;
  letter-spacing: -2px;
  word-break: keep-all;
}

.contents .defer_wrap li .cir_icon {
  position: relative;
  display: flex;
  align-items: center;
  width: 70%;
  margin: 30px 0;
}

.contents .defer_wrap li .cir_icon span {
  display: inline-block;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.contents .defer_wrap li .cir_icon a {
  margin-left: 55px;
}
.contents .defer_wrap li .cir_icon span i {
  font-size: 4.8rem;
  margin-bottom: 17px;
}
.contents .defer_wrap li .right_box {
  position: absolute;
  right: 150px;
  margin-right: 75px;
}
.contents .defer_wrap li .cir_icon .right_icon {
  display: block;
  width: 150px;
  height: 36.5px;
  background: url("/img/index/right_arrow.png") 0 0 no-repeat;
  background-size: cover;
  text-indent: -9999px;
}

.contents .defer_wrap li .cir_icon .go_text {
  font-size: 1.6rem;
  color: #fff;
  font-weight: bold;
  text-align: center;
  margin-top: 20px;
}
.contents .defer_wrap li .ir_icon span {
  background-color: rgba(36, 69, 126, 0.8);
}
.contents .defer_wrap li .job_icon span {
  background-color: rgba(11, 108, 139, 0.8);
}
.contents .defer_wrap .ir_con {
  background: rgba(0, 0, 0, 0.3) url("/img/index/ir_back.jpg") 0 0 no-repeat;
  background-size: cover;
  background-blend-mode: darken;
}
.contents .defer_wrap .recru {
  background: rgba(0, 0, 0, 0.3) url("/img/index/job.jpg") no-repeat;
  background-size: cover;
  background-blend-mode: darken;
}
.contents .defer_wrap .bid_con {
  background: rgba(0, 0, 0, 0.3) url("/img/index/bid.jpg") no-repeat;
  background-size: cover;
  background-blend-mode: darken;
  height: 260px;
}
.contents .sitemap_wrap {
  /* height: 290px; */
  padding: 50px 150px;
  background-color: rgba(0, 0, 0, 0.75);
}
.contents .sitemap_wrap .sitemap_ul {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
}
.contents .sitemap_wrap .sitemap_ul li {
  /* height: 100%; */
}
.contents .sitemap_wrap .sitemap_ul li dl dt {
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  cursor: default;
  margin-bottom: 20px;
}
.contents .sitemap_wrap .sitemap_ul li dl dt a {
  cursor: default;
}
.contents .sitemap_wrap .sitemap_ul li dl dd {
  color: rgba(255, 255, 255, 0.8);
  line-height: 1.7;
  font-size: 14px;
  font-weight: 100;
}
.contents .quick {
  position: fixed;
  top: 28%;
  right: 20px;
  background-color: rgba(14, 57, 128, 0.65);
  color: #fff;
  width: 85px;
  text-align: center;
}
.contents .quick .quick-box {
  margin: 5px 5px;
}
.contents .quick .quick-box h5 {
  font-size: 19px;
  background-color: rgba(14, 57, 128, 0.7);
  padding: 5px 5px;
  font-weight: 100;
}

.contents .quick .quick-box .quick-list {
  background-color: rgba(14, 57, 128, 1);
  transition: all 0.35s;
  overflow: hidden;
}
.contents .quick .quick-box .quick-list li {
  padding: 20px 0;
  line-height: 1.3;
}
.contents .quick .quick-box .fold-box {
  font-size: 20px;
  padding: 3px 0;
}
.contents .quick .quick-box .fold-box a {
  display: block;
  width: 100%;
}
.fold-show {
  max-height: 255px;
}
.fold-none {
  max-height: 0;
}
.contents .scr-top {
  position: fixed;
  bottom: 5%;
  right: 20px;
  width: 85px;
  height: 85px;
  text-align: center;
}
.contents .scr-top button {
  color: #fff;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: none;
  background: rgb(183, 183, 183);
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
}

.contents .scr-top button i {
  display: block;
}
@media (max-width: 1470px) {
  .contents .defer_wrap li {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 30px 0;
  }
  .contents .defer_wrap li .defer_tit {
    width: auto;
  }

  .contents .defer_wrap li .cir_icon {
    width: auto;
    margin: 20px 0 0 0;
  }
  .contents .defer_wrap li .cir_icon > a {
    margin: 0 30px;
  }
  .contents .defer_wrap li .cir_icon span {
    width: 150px;
    height: 150px;
  }
  .contents .defer_wrap li .cir_icon > a {
    margin: 0 30px;
  }
  .contents .defer_wrap li .right_box {
    position: unset;
  }
  .quick,
  .scr-top {
    display: none;
  }
}
@media (max-width: 800px) {
  .contents .defer_wrap li .cir_icon span {
    width: 100px;
    height: 100px;
  }
  .contents .defer_wrap li .cir_icon span i {
    font-size: 2rem;
    margin-bottom: 17px;
  }
}
@media (max-width: 650px) {
  .contents .defer_wrap li .cir_icon > a {
    margin: 0 10px;
  }
  .contents .defer_wrap li .cir_icon span {
    width: 80px;
    height: 80px;
  }
  .contents .defer_wrap li .cir_icon span i {
    font-size: 1.5rem;
    margin-bottom: 17px;
  }
}
